<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://118.24.126.124:3306/HZtechnology?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false&amp;autoReconnect=true&amp;serverTimezone=UTC"/>
                <property name="username" value="HZtechnology"/>
                <property name="password" value="#RoyalNeverGiveUp123"/>
            </dataSource>

        </environment>
    </environments>

    <mappers>
        <mapper resource="mapping/UserMapping.xml"/>
        <mapper resource="mapping/SocietyMapping.xml"/>
        <mapper resource="mapping/ActivityMapping.xml"/>
        <mapper resource="mapping/LogMapping.xml"/>
        <mapper resource="mapping/UJSMapping.xml"/>
        <mapper resource="mapping/UMSMapping.xml"/>
        <mapper resource="mapping/UCSMapping.xml"/>
        <mapper resource="mapping/SOAMapping.xml"/>
        <mapper resource="mapping/UJAMapping.xml"/>
    </mappers>
</configuration>
        <!-- author:杨晓宇 -->
        <!-- author:程乐 -->